@import url(https://fonts.googleapis.com/css?family=SUSE:100,200,300,regular,500,600,700,800);
* {
  font-family: SUSE;
}

.card {
  background-color: orangered;
  color: white;
  border-bottom: 1px solid #000000;
  box-shadow: 10px 10px 0px #00000010;
}

.head {
  font-size: large;
  text-align: center;
  margin: 24px auto;
}
